@media only screen and (max-width:1024px){
    header{
        height:700px;
    }
    .gallery-img-section .gallery-img{
        flex:33.33%;
    }
    .index-content .content,.index-content .content-reverse{
        flex-direction: column-reverse;
        height:fit-content;

    }
    .index-content .content .flex-box img,.index-content .content-reverse .flex-box img{
        max-height:300px;
    }
    .index-content .content .flex-box .content-text{
        padding:1rem 3rem;
    }

}


@media only screen and (max-width:960px){
    header{
        height:500px;
    }
    .gallery-img-section .gallery-img{
        flex:33.33%;
    }
}
@media only screen and (max-width:768px){
    header{
        height:300px;
    }
    h1{
        font-size:1.8em;
    }
    .input-group{
        max-width:480px;
    }
    .gallery-img-section .gallery-img{
        flex:50%;
    }
    .text-banner{
        max-width:480px;
    }
    .index-content .content .flex-box .content-text, .index-content .content-reverse .flex-box .content-text{
        padding:1rem 1rem;
    }
    fieldset.scheduler-border{
        width:100%;
    }
}
@media only screen and (max-width:480px){
    header{
        height:300px;
    }
    .gallery-img-section .gallery-img{
        flex:100%;
    }
    .text-banner{
        max-width:300px;
    }
    .input-group{
        max-width:350px;
    }
}
